[package]
name = "mirror-protocol"
version = "2.0.0"
authors = ["Terraform Labs, PTE."]
edition = "2018"
description = "Common helpers for mirror-protocol"
license = "Apache-2.0"
repository = "https://github.com/mirror-protocol/mirror-contracts"
homepage = "https://mirror.finance"
documentation = "https://docs.mirror.finance"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]

[dependencies]
cw20 = "0.2"
cosmwasm-std = { version = "0.10.1", default-features = false, features = ["iterator"] }
cosmwasm-storage = { version = "0.10.1", default-features = false, features = ["iterator"] }
terraswap = "1.1.0"
schemars = "0.7"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }

[profile.release]
overflow-checks = true